{% extends "base.html" %}
{% block content %}
<body>
   <!-- Main Content -->
    <section id="summary">
        <h2>Professional Summary</h2>
        <p>Experienced Systems and Software Analyst and Systems Administrator with a solid background in IT governance, infrastructure
design, and systems integration. Skilled in enhancing system performance, supporting digital transformation projects, and
ensuring compliance. Proficient in Python programming, automation, and data analysis, with a strong foundation in
network and database administration. Demonstrated ability to implement DevOps practices and provide technical support for
operational excellence.</p>
    </section>
</body>
{% endblock %}