<div class="military_service">
{% extends "base.html" %}
{% block title %}Ernest Baker - Military Service{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{{ url_for('static', filename='css/military_service.css') }}">{% endblock %}
  {% block header %}
  <div id="military_service_header">
    <h1>SPC (E4) Baker</h1>
      <p>13B Cannon Crewmember | Heavy Mechanized Field Artillery</p>
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Summary</a></li>
          <li><a href="{{ url_for('about') }}#skills">Skills</a></li>
          <li><a href="{{ url_for('about') }}#experience">Experience</a></li>
          <li><a href="{{ url_for('military_service') }}">Military Service</a></li>
          <li><a href="{{ url_for('portfolio') }}">Projects</a></li>
          <li><a href="{{ url_for('about') }}#achievements">Achievements</a></li>
          <li><a href="{{ url_for('about') }}#education">Education</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </nav>
  </div>
  {% endblock %}

  {% block content %}
  <main>
    <section id="welcome">
      <h2>Welcome Message</h2>
      <!--Military Image-->
      <!--Seconda Nav Bar-->
    </section>

    <section id="overview">
      <h2>Overview of Military Service</h2>
      <!--Display rank, branch, enlistment and separation dates, total active service time, and places served-->
      <!--timeline or journey map that visually represents military career progression-->
    </section>

    <section id="awards">
      <h2>Military Awards</h2>
      <!--Showcase decorations, medals, badges, and campaign ribbons-->
      <!--Each award should have an individual card with a brief description, the criteria for earning it, and possibly an image of the medal/ribbon-->
      <!--A photo gallery or carousel to visually display the medals and ribbons-->
    </section>

    <section id="education">
      <h2>Military Education and Training</h2>
      <!--List completed military courses and special training-->
    </section>

    <section id="assignments">
      <h2>Military Assignments and Duty Stations</h2>
      <!--Highlight key assignments, such as deployments. Use maps for duty stations, etc.-->
    </section>
  </main>
  {% endblock %}

</div>