{% extends "base.html" %}
{% block title %}Ernest Baker - Military Service{% endblock %}

{% block content %}

    <section id="military_service.welcome">
        <h2>Welcome Message</h2>
        <!--Military Image-->
        <!--Seconda Nav Bar-->
    </section>

    <section id="military_service.overview">
        <h2>Overview of Military Service</h2>
        <!--Display rank, branch, enlistment and separation dates, total active service time, and places served-->
        <!--timeline or journey map that visually represents military career progression-->
    </section>

    <section id="military_service.awards">
        <h2>Military Awards</h2>
        <!--Showcase decorations, medals, badges, and campaign ribbons-->
        <!--Each award should have an individual card with a brief description, the criteria for earning it, and possibly an image of the medal/ribbon-->
        <!--A photo gallery or carousel to visually display the medals and ribbons-->
    </section>

    <section class="military_service" id="education">
        <h2>Military Education and Training</h2>
        <!--List completed military courses and special training-->
    </section>

    <section id="military_service.assignments">
        <h2>Military Assignments and Duty Stations</h2>
        <!--Highlight key assignments, such as deployments. Use maps for duty stations, etc.-->
    </section>



{% endblock %}