{% extends "base.html" %}
{% block title %}Ernest Baker - Projects{% endblock %}
{% block content %}
<div class="content">
    <section id="projects">

        <h2>Projects</h2>

        {% for project in projects %}
        <div class="project-item">
            <h3>{{ project.title }}</h3>
            <img src="{{ url_for('static', filename=project.image) }}" alt="{{ project.title }}">
            <p>{{ project.description }}</p>
            <a href="{{ project.link }}" target="_blank">View Project</a>
        </div>
        {% endfor %}

        <div class="project-item">
            <h3>Gatekeeper Project</h3>
            <p>Objective: Enhance CIP compliance and consolidate physical-entry requirements.</p>
			<p>Achievements:</p>
			<ul>
				<li>Successfully redeployed Gatekeeper to its MVP state</li>
                <li>Implemented email notification fixes and server rebuilds</li>
                <li>Conducted comprehensive training sessions and established governance structures</li>
			</ul>
        </div>

        <div class="project-item">
            <h3>Forms.com Implementation</h3>
            <p>Objective: Digitize crucial forms for Underground Operations</p>
            <ul>
                <li>Digitized and integrated five critical forms.</li>
                <li>Developed a user-friendly interface with real-time data capture</li>
                <li>Conducted user training and established governance structures</li>
            </ul>
        </div>

        <div class="project-item">
            <h3>HomeLab Infrastructure Upgrade</h3>
            <p>Objective: Upgrade hardware, enhance networking, and transition to Infrastructure as Code</p>
            <ul>
                <li>Upgraded from Dell R710 to Dell R730</li>
                <li>Implemented advanced VLANs and 10GBit networking</li>
                <li>Migrated to Proxmox and transitioned the environment to Infrastructure as Code</li>
            </ul>
        </div> 
    </section>
</div>
{% endblock %}

